# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
live.env
local.env
test.env
preview1.env
preview2.env
.env.development
.env.production
/generated/prisma

/public/uploads/