.up-btn {
  box-sizing: border-box;
  background: oklch(32.109% 0.00004 271.152);
  width: 2.5rem;
  height: 2.5rem;
  right: 1.25rem;
  bottom: 1.5rem;
  opacity: 0.75;
  border: 0;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  overflow: hidden;
  position: fixed;
  z-index: 2000;
  transition: all 0.4s ease-in-out;
}

.up-btn.up-btn__hide {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}

.up-btn:hover {
  opacity: 1;
}

.up-btn.up-btn_circle {
  border-radius: 100%;
}
