@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;

  --theme: oklch(41.654% 0.00005 271.152);
  --dark: oklch(12.431% 0.01995 352.011);
  --deep: oklch(17.304% 0.00002 271.152);
  --white: oklch(100% 0.00011 271.152);
  --white-10: oklch(100% 0.00011 271.152 / 0.102);
  --white-20: oklch(100% 0.00011 271.152 / 0.2);
  --light: oklch(12.431% 0.01995 352.011 / 0.4);
  --whitedeam: rgba(255, 255, 255, 0.6);
  --black: rgb(12, 4, 7);
  --blacken: rgb(12, 4, 7, 0.4);
  --light-gray: rgb(112, 112, 112);
  --text-primary: rgb(76, 76, 76);
  --icon-bg: oklch(100% 0.00011 271.152 / 0.102);
  --card-border: oklab(100% 0 -0.00011 / 0.2);
  --text-light: rgb(242, 242, 242);
  --text-light-10: rgb(204, 204, 204);

  --theme-primary-light: oklch(98.2% 0.018 155.826);
  --theme-primary: oklch(46.399% 0.12386 143.916);
  --theme-primary-dark: oklch(37.345% 0.08668 143.619);

  /* HEADING-FONT-SIZE */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875rem;
  --fs-32: 2rem;
  --fs-34: 2.125rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-44: 2.75rem;
  --fs-48: 3rem;
  --fs-50: 3.125rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-68: 4.25rem;
  --fs-72: 4.5rem;
  --fs-76: 4.75rem;
  --fs-80: 5rem;
  --fs-90: 5.625rem;
  --fs-92: 5.75rem;
  --fs-96: 6rem;
  --fs-100: 6.25rem;
  --fs-110: 6.875rem;
  --fs-200: 12.5rem;

  --lh-80: 80%;
  --lh-90: 90%;
  --lh-100: 100%;
  --lh-110: 110%;
  --lh-120: 120%;
  --lh-140: 140%;
  --lh-150: 150%;

  --ls-2: -0.02rem;
  --ls-3: -0.03rem;
  --ls-4: -0.04rem;
  --ls-5: -0.05rem;
  --ls-6: -0.06rem;
  --ls-8: -0.08rem;
  --ls-10: -0.1rem;
  --ls-11: -0.2rem;
  --ls-12: -0.3rem;
  --ls-13: -0.4rem;
  --ls-14: -0.5rem;
  --ls-15: -1.25rem;

  --capitilize: capitalize;
  --uppercase: uppercase;

  --breakpoint-*: initial;
  --breakpoint-xs: 25rem;
  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-2xl: 85.375rem;
  --breakpoint-3xl: 87.5rem;
  --breakpoint-4xl: 96rem;
  --breakpoint-5xl: 100rem;
}

::selection {
  background-color: var(--theme-primary-dark);
  color: var(--theme-primary-light);
  font-weight: 600;
}

html,
body {
  font-family: var(--font-inter);
  background-color: var(--dark);
  line-height: var(--lh-150);
  letter-spacing: var(--ls-3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

p {
  line-height: var(--lh-150);
}

@layer base {
  .primary-heading {
    font-size: var(--fs-48);
    line-height: var(--lh-90);
    letter-spacing: var(--ls-5);
    text-transform: var(--uppercase);

    @media (width >= 48rem) {
      font-size: var(--fs-110);
      line-height: var(--lh-80);
      letter-spacing: var(--ls-14);
    }

    @media (width >= 64rem) {
      font-size: var(--fs-200);
      line-height: var(--lh-90);
      letter-spacing: var(--ls-15);
    }
  }

  .main-heading {
    font-size: var(--fs-26);
    line-height: var(--lh-110);
    letter-spacing: var(--ls-3);
    font-weight: 600;

    @media (width >= 48rem) {
      font-size: var(--fs-32);
    }

    @media (width >= 63rem) {
      font-size: var(--fs-48);
    }
  }

  .main-title {
    font-size: var(--fs-26);
    line-height: var(--lh-110);
    letter-spacing: var(--ls-3);
    font-weight: 600;

    @media (width >= 48rem) {
      font-size: var(--fs-40);
      letter-spacing: var(--ls-13);
    }

    @media (width >= 63rem) {
      font-size: var(--fs-80);
    }
  }

  .brand-heading {
    font-size: var(--fs-26);
    line-height: var(--lh-110);
    letter-spacing: var(--ls-3);
    font-weight: 600;

    @media (width >= 48rem) {
      font-size: var(--fs-48);
    }

    @media (width >= 63rem) {
      font-size: var(--fs-80);
    }
  }

  .testimonial-title {
    color: var(--text-light);
    font-size: var(--fs-20);
    letter-specing: var(--ls-3);
    font-weight: 600;
    line-height: 1.5;

    @media (width >= 48rem) {
      font-size: var(--fs-32);
    }
  }

  .text-body {
    font-size: var(--fs-20);
  }

  .counter-heading {
    font-size: var(--fs-40);
    font-weight: 600;
    letter-spacing: var(--ls-4);
    line-height: 1;
    display: flex;
    align-items: center;
    min-width: 10rem;
  }

  .counter-item {
    @apply flex flex-col gap-2 text-left;
    width: calc((100% / 2) - 1.25rem);
    min-width: 10rem;

    @media (width >= 48rem) {
      width: calc((100% / 3) - 5rem);
    }
  }

  .card-heading {
    font-size: var(--fs-20);
    font-weight: 600;
    letter-spacing: var(--ls-4);
    line-height: 1;

    @media (width >= 48rem) {
      font-size: var(--fs-40);
    }
  }

  .product-heading {
    font-size: var(--fs-20);
    font-weight: 500;
    letter-spacing: var(--ls-4);
    line-height: var(--lh-150);

    @media (width >= 48rem) {
      font-size: var(--fs-32);
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 5rem !important;

    @media (width >= 63rem) {
      padding-top: 5rem !important;
      padding-bottom: 0 !important;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-button-disabled {
    pointer-events: all !important;
    opacity: 1 !important;
    cursor: pointer !important;
    position: static !important;
    width: 4rem !important;
    height: 4rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: var(--white-20) !important;
    color: var(--white) !important;
    font-size: 1.25rem !important;
    margin-top: 0 !important;
    padding: 1rem !important;
    transition: all 500ms ease-in !important;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover,
  .swiper-button-disabled:hover {
    background-color: var(--white) !important;
    color: var(--deep) !important;
  }

  .shamrock-loader {
    width: 7.8125rem;
    height: 7.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .loader-circle {
    position: relative;
    border: solid 0.25rem var(--theme-primary-light);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .loader-inner-circle {
    position: absolute;
    left: -12.5%;
    top: 35%;
    width: 125%;
    height: 25%;
    background: var(--theme-primary-dark);
    animation: rotate 2s infinite linear;
  }

  .loadericon {
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    top: 0;
    animation: pulsate 1.25s infinite ease;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes pulsate {
    0% {
      transform: scale(0.75);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(0.75);
    }
  }
}

@layer utilities {
  .z-huge {
    z-index: 999999;
  }

  .is-open .nav-bar-1 {
    transform: translate3d(0, 0.4375rem, 0) rotateZ(45deg);
  }

  .is-open .nav-bar-2 {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }

  .is-open .nav-bar-3 {
    transform: translate3d(0, -0.4375rem, 0) rotateZ(-45deg);
  }

  #header {
    transition: transform 500ms ease-in-out;
    will-change: transform;
    z-index: 999;
  }

  #header.sticky-header {
    position: sticky;
    top: 0;
    transform: translateY(0);
  }

  #header.sticky-header.hide-header {
    transform: translateY(-100%);
  }

  .mobilemenu {
    @apply bg-(--dark) absolute top-20 left-0 z-30 transition-[transform,opacity] duration-500 ease-in;
    will-change: transform, opacity;
  }

  .menu-closed {
    @apply translate-y-20 opacity-0 invisible;
  }

  .menu-open {
    @apply translate-y-0 opacity-100 visible;
  }
}

@plugin "daisyui";
